<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLxgiGprgNBpA38mlN3XtQZuG9Pdw3fXg</string>
	<key>GCM_SENDER_ID</key>
	<string>450252746462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movietime</string>
	<key>PROJECT_ID</key>
	<string>movietime-ff4f1</string>
	<key>STORAGE_BUCKET</key>
	<string>movietime-ff4f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450252746462:ios:41aac6f2f3d3e25cad9c4f</string>
</dict>
</plist>